# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio
.vs/

# Rider
.idea/

# Node (si usas React dentro del proyecto)
node_modules/

# Archivos de configuración sensibles
appsettings.Development.json